@import 'color';

body {
  background-color: $light-green;
}

.top-bar {
  height: 75px;
  background-color: $light-blue;
}

.contain-to-grid {
  background-color: $light-blue;
}

header {
  h1 {
    color: $pearl;
  }
}